@media screen and (min-width: 0px) {
  .overview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-400);
  }

  .contents {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }
  .pots-and-transaction-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-400);
  }

  .budget-and-bills-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-400);
  }
}

@media screen and (min-width: 685px) {
}

@media (min-width: 768px) {
  /* Styles for tablets and small laptops */
}

@media (min-width: 992px) {
  /* Styles for desktops */
  .contents {
    width: 100%;
    flex-direction: row;
  }
}
