@media screen and (min-width: 0px) {
  .page-title {
    font-size: var(--text-size-preset-1);
    margin-bottom: var(--spacing-400);
  }

  .overview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .account-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    justify-content: space-between;
  }
}

@media screen and (min-width: 685px) {
  .account-container {
    flex-direction: row;
    gap: var(--spacing-300);
  }
}

@media (min-width: 768px) {
  /* Styles for tablets and small laptops */
}
