@media screen and (min-width: 0px) {
  .dashboard-pages {
    width: 100%;
    padding: var(--spacing-200);
  }
  .content {
    padding: 20px;
  }

  .side-bar {
    position: fixed;
    bottom: 0;
    background-color: var(--primary-grey-900);
    border-radius: 10px 10px 0px 0px;
  }
}

@media screen and (min-width: 992px) {
  .side-bar {
    position: relative;
    width: max-content;
    border-radius: 0px 10px 10px 0px;
  }

  .dashboard-pages {
    padding: var(--spacing-400);
  }

  .dashboard-container {
    display: flex;
  }
}
