@media screen and (min-width: 0px) {
  .budgets-overview--container {
    width: 100%;
    padding: var(--spacing-300);
    background-color: var(--white);
    border-radius: 10px;
    gap: var(--spacing-300);
  }

  .budgets-overview--contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--spacing-300);
  }

  .all-budgets {
    display: flex;
    gap: var(--spacing-200);
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  /* Styles for larger phones and small tablets */
  .budgets-overview--contents {
    flex-direction: row;
  }

  .all-budgets {
    flex-direction: column;
  }
}
