.sidebar-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  border-radius: 15px 15px 0px 0px;
  gap: 3px;
}

.menu-link {
  cursor: pointer;
  border-bottom: 5px solid var(--secondary-green);
  border-radius: 15px 15px 0px 0px;
  border-bottom: 5px solid var(--primary-grey-900);
}

.menu-link:hover {
  background-color: var(--primary-beige-100);
  border-bottom: 5px solid var(--secondary-green);
}

@media screen and (min-width: 320px) {
  .sidebar-container {
    gap: 5px;
  }

  .menu-link {
    padding: 5px 15px;
  }
}
