.editBtn {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  color: var(--primary-grey-900);
  font-size: var(--text-size-preset-4);
}

.deleteBtn {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  color: var(--secondary-red);
  font-size: var(--text-size-preset-4);
}

.divider {
  border: 0.5px solid var(--primary-grey-100);
}
